@{
    ViewBag.Title = "Detalle de Deporte";
    var deporte = ViewBag.Deporte as TP_JJOO.Models.Deporte;
    var deportistas = ViewBag.Deportistas as List<TP_JJOO.Models.Deportista>;
}

<h2>@deporte.Nombre</h2>
<p>@deporte.Descripcion</p>

<h3>Deportistas que practican @deporte.Nombre</h3>
<div class="row">
    @foreach(var dep in deportistas)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="@dep.ImagenURL" class="card-img-top" alt="@dep.Nombre @dep.Apellido" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">@dep.Nombre @dep.Apellido</h5>
                    <a href="@Url.Action("VerDetalleDeportista", "Home", new { idDeportista = dep.IdDeportista })" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
        </div>
    }
</div>